@tailwind base;
@tailwind components;
@tailwind utilities;


html > body {
  font-family: "Noto Sans KR", sans-serif ;
}

@font-face {
  font-family: 'HELVETICA';
  src: url('./fonts/Helvetica.ttf') format('truetype');
}


@font-face {
  font-family: 'HELVETICA-LIGHT';
  src: url('./fonts/HELVETICA-LIGHT.TTF') format('truetype');
}

@font-face {
  font-family: 'HELVETICA-BOLD';
  src: url('./fonts/HELVETICA-BOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'Helvetica Black';
  src: url('./fonts/Helvetica Black.ttf') format('truetype');
}


@font-face {
  font-family: '5MAL6LAMPEN';
  src: url('./fonts/5MAL6LAMPEN.TTF') format('truetype');
}


@font-face {
  font-family: 'PRETENDARD-BOLD';
  src: url('./fonts/PRETENDARD-BOLD.OTF') format('truetype');
  font-family: 'Helvetica95_Black';
  src: url('./fonts/HELVETICA-BLACK.TTF') format('truetype');
}

@font-face {
  font-family: 'PRETENDARD-SEMIBOLD';
  src: url('./fonts/PRETENDARD-SEMIBOLD.OTF') format('truetype');
}

@font-face {
  font-family: 'PRETENDARD-MEDIUM';
  src: url('./fonts/PRETENDARD-MEDIUM.OTF') format('truetype');
}

@font-face {
  font-family: 'PRETENDARD-LIGHT';
  src: url('./fonts/PRETENDARD-LIGHT.OTF') format('truetype');
}

@font-face {
  font-family: 'PRETENDARD-REGULAR';
  src: url('./fonts/PRETENDARD-REGULAR.OTF') format('truetype');
}

@font-face {
  font-family: 'PRETENDARD-BLACK';
  src: url('./fonts/PRETENDARD-BLACK.OTF') format('truetype');
}

